@use '../variables' as *;

.nav_link {
	padding: 1rem 1.5rem;
	cursor: pointer;
	a {
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		color: $primary;
		&:active {
			color: $primary;
		}
	}
}

@media screen and (min-width: $sm) {
	.nav_link {
		cursor: pointer;
		position: relative;
		transition: 0.3s;

		&:hover a {
			color: $secondary;
		}

		a {
			color: $primary;
			font-weight: 400;
			&:active {
				color: $primary;
			}
		}
	}

	// the last button
	.nav_link_button {
		// background-color: $primary;
		// border-radius: 200px;
		border: 2px solid $primary;
		transition: 0.3s;
		position: relative;

		&:active {
			transform: scale(0.97);
		}

		::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 0%;
			background-color: $primary;
		}

		&:hover ::after {
			-webkit-animation: fill-button 0.3s forwards;
			animation: fill-button 0.3s forwards;
		}

		a {
			color: $primary;
		}
	}
}
