@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 600px) {
  :root {
    font-size: 16px;
  }
}
.logo {
  height: 4.5rem;
  width: auto;
  background-color: #6c584c;
}

.icon_button {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.container_lg {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.nav_link {
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.nav_link a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
}
.nav_link a:active {
  color: white;
}

@media screen and (min-width: 600px) {
  .nav_link {
    cursor: pointer;
    position: relative;
    transition: 0.3s;
  }
  .nav_link:hover a {
    color: #e63946;
  }
  .nav_link a {
    color: #6c584c;
    font-weight: 400;
  }
  .nav_link a:active {
    color: #6c584c;
  }
  .nav_link_button {
    background-color: #6c584c;
    border-radius: 200px;
    transition: 0.3s;
  }
  .nav_link_button:hover {
    background-color: #e63946;
  }
  .nav_link_button:hover a {
    color: white;
  }
  .nav_link_button a {
    color: white;
  }
}
header {
  width: 100vw;
  height: 5rem;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.02), 100px 100px 80px rgba(0, 0, 0, 0.04);
}

.header_toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_toolbar .button_menu {
  color: #6c584c;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  min-height: 200px;
  max-height: 500px;
  background-color: rgba(108, 88, 76, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top center;
  transition: 0.3s;
}
nav .button_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
}
nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

header .hidden {
  transform: translateY(-100%);
}

header .slide_down {
  transform: translateY(0%);
}

@media screen and (min-width: 600px) {
  header .header_button {
    display: none;
  }
  header .container_lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav {
    position: static;
    width: 60vw;
    max-width: 600px;
    min-height: 100%;
    height: 100%;
    background-color: white;
  }
  header nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  header .hidden {
    transform: translateY(0);
  }
}
.banner {
  height: calc(100vh - 5rem);
  width: 100vw;
  background-image: url("../assets/images/banner_bg_sm.jpg");
  background-size: cover;
  background-position: 20% center;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay_dark {
  position: relative;
}
.overlay_dark::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner_subtitle {
  z-index: 2;
  display: inline-block;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .banner {
    background-image: url("../assets/images/banner_bg_lg.jpeg");
  }
  .banner_subtitle {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=main.css.map */
