@use './variables' as *;

header {
	width: 100vw;
	height: 100px;
	position: fixed;
}

.header_toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50vh;
	min-height: 200px;
	max-width: 500px;
	background-color: $primary;
	display: flex;
	transform-origin: top center;
	transition: 0.3s;

	.button_close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		color: white;
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		list-style: none;

		li {
			height: auto;
		}

		li > a {
			display: inline-block;
			width: 100vw;
			text-align: center;
			text-decoration: none;
			color: white;

			&:active {
				color: white;
			}
		}
	}
}

// hide the nav by default
header .hidden {
	transform: translateY(-100%);
}

// slide down on toggle
header .slide_down {
	transform: translateY(0%);
}
