@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

$font-family: 'Montserrat', sans-serif;

// font-size
$h1: 2rem;
$h2: 1.75rem;
$h3: 1.5rem;
$body1: 1rem;
